app-header {
  text-transform: uppercase;
}

h2 {
  text-align: right;
}

my-view1 {
  background-color: red;
}

/* Fields */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #aaa;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaa;
}
/* Button */
input[type="date"],
input[type="email"],
input[type="text"],
input[type="submit"],
button[type="submit"] {
  background-color: #fff;
  border: none;
  color: #000;
  font-size: 1rem;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-weight: normal;
}
