/* Fields */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #aaa;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #aaa;
}

button,
input,
select {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}

input {
}

input[type="date"],
input[type="email"],
input[type="text"] {
}

button,
input[type="submit"] {
  padding: 1rem 2rem;
}

#editor div[data-schemapath="root"] > h3 {
  display: none;
}

#capture > div > div {
  display: grid;
  grid-row-gap: 1rem;
}

#capture .row {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#capture .form-control {
  align-items: center;
  display: grid;
  /* grid-template-columns: repeat(2, auto); */
  /* justify-items: end; */
}

#capture .form-control p {
  color: #666;
  font-size: 0.75rem;
}
